*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

.container{
    text-align: center;
}

.superior{
    margin-top: 3%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formNome{
   display: inline-grid;
   margin-top: 2%;
   color: orange;
   text-shadow: 0px 0px 4px black;
}

.formSobrenome{
    display: inline-grid;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formEmail{
    margin-top: 1%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formQuestion{
    margin-top: 2%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formOptions{
    display: grid;
    margin-top: 1%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formSenioridade{
    margin-top: 2%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formTec{
    margin-top: 2%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.formExp{
    display: inline-grid;
    margin-top: 2%;
    color: orange;
    text-shadow: 0px 0px 4px black;
}

.botao{
    border: none;
    margin-top: 2%;
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
}

.botao:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
}



 
